* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.square {
  width: 90px;
  height: 90px;
  background-color: #689F38;
  transition: transform 300ms ease-out;
}

.expand {
  transform: scale(2.5);
}

.showEmojisColumn {
  float: left;
  width: 33.3%;
  padding: 0.5em;
}

.showEmojisRow::after {
  content: "";
  clear: both;
  display: table;
}

/* https://www.w3schools.com/css/css3_buttons.asp */
.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


