* {
  box-sizing: border-box;
}

html, body {
  max-height: 100%;
  font-style: bold;
}

body {
}

.center-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.square {
  width: 400px;
  height: 400px;
  background-color: #689F38;
  transition: transform 300ms ease-out;
}

.p {
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 45px;
}

.expand {
  transform: scale(2.5);
}

.showEmojis {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
}

.showEmojisColumn {
  float: left;
  width: 33.3vw;
  padding: 0.1em;
}

.showEmojisRow::after {
  content: "";
  clear: both;
  display: table;
}

.gestureSquaresRow::after {
  content: "";
  clear: both;
  display: table;
}

.gestureSquaresColumn {
  float: left;
  width: 50%;
}

.gestureSquares {
  position: absolute;
  top: 0;
  left: 0;
}

table {
  display: none;
}



/* https://www.w3schools.com/css/css3_buttons.asp */
.button {
  position: absolute;
  top: 1em;
  left: 20vw;
  align-self:center;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5vw;
  width:60vw;
}


